* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 400 2.4rem/1.5 'freight-display-pro', Georgia, Serif;
  color: #000;
}

p:not(:last-child) {
  margin: 0 0 1rem;
}

html, body, body > * {
  height: 100%;
}

.wrap, main {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.wrap {
  width: 45rem;
  box-sizing: border-box;
  padding: 3rem;
}

main {
  flex: 1;
}

footer {
  font-size: 1.5rem;
}

footer a {
  color: #000;
}

footer nav a:not(:last-child):after {
  content: '×';
  color: #888;
  display: inline-block;
  margin: 0 5px;
}

@media (max-width: 30rem) {
  .wrap {width: auto}
}
