* {
  margin: 0;
  padding: 0;
  cursor: default;
  font: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font: 400 13px/1.5 Aktiv Grotesk;
  color: #000;
}

a {
  color: #0043FF;
  text-decoration: none;
}

a:hover, a:hover * {
  cursor: pointer;
  text-decoration: underline;
}

h1, h3 {
  font-weight: bold;
  margin: 0 0 10px;
}

h1 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

.wrap {
  width: 245px;
  padding: 40px 0;
  margin: auto;
}

.wrap > *, .site-main > * {
  margin: 0 0 20px;
}

.site-footer {
  padding: 15px 0 0;
  border-top: 1px solid #e5e5e5;
  font-size: 11px;
}

.site-footer p {
  color: #888;
}

.site-footer a {
  color: #333;
}

.site-footer p.copy {
  margin: 5px 0 0;
  color: #bbb;
}

.tracks {
  width: 255px;
  height: 160px;
  overflow: hidden;
}

.tracks a:nth-of-type(3) ~ a {
  margin-bottom: 0;
}

.tracks a img {
  transition: opacity .5s ease;
  opacity: 1;
}

.sc header,
.gh header {
  overflow: hidden;
}

.sc header h3,
.gh header h3 {
  float: left;
}

.sc header .action,
.gh header .action {
  color: #888;
  font-size: 11px;
  position: relative;
  padding: 0 20px 0 0;
  margin: 2px 0 0;
  float: right;
}

.sc header .action img,
.gh header .action img {
  position: absolute;
  top: 1px; right: 0;
}

.tracks a {
  width: 75px;
  height: 75px;
  margin: 0 10px 10px 0;
  position: relative;
  float: left;
}

.tracks a x-spin {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%; left: 50%;
  z-index: -1;
}

.tracks a .overlay {
  background: #333;
  position: absolute;
  right: 0; bottom: 0;
  top: 0; left: 0;
  opacity: 0;
}

.tracks a:hover .overlay {
  opacity: 0.2;
}

.repos .repo {
  margin: 0 0 5px;
  overflow: hidden;
}

.repos .repo a.name {
  float: left;
}

.repos .repo a.stars {
  margin-top: 1px;
  font-size: 11px;
  padding: 0 20px 0 0;
  position: relative;
  color: #bbb;
  float: right;
}

.repos .repo a.stars img {
  position: absolute;
  top: 0; right: 0;
}

.error p {
  position: absolute;
  font-size: 24px;
  transform: translate(-50%, -50%);
  top: 50%; left: 50%;
}
