
/**
 * <List/>
 */

.List {
  margin: 0 0 20px;
}

.List ul {
  padding: 0;
  margin: 0;
}

.List li {
  font-family: var(--font-mono);
  font-size: var(--small);
  list-style: none;
  display: block;
  margin: 0;
}

