{{define "github"}}
<section class=gh>
    <header>
      <h3>Open Source</h3>
      <a class=action href=//github.com/daryl>
          <img src=/img/arrow-gh.svg width=15 height=15 />
        GitHub
      </a>
    </header>

    <div class=repos>
      {{range .GH}}
      <div class=repo>
        <a class=name href={{.html_url}}>{{.name}}</a>
        <a class=stars href={{.html_url}}>
          <img src=/img/star-gh.svg width=15 height=14 />
          {{.stargazers_count}}
        </a>
      </div>
      {{end}}
    </div>
</section>
{{end}}
