<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name=viewport content="initial-scale=1" />
  <meta name=description content="Product Designer & Software Developer" />
  <title>Daryl Ginn</title>
  <link href=/dist/bundle.css rel=stylesheet />
  <script src="//use.typekit.net/bit2lhx.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class=wrap>
    <header class=site-header role=banner>
      <h1>Daryl Ginn</h1>
      <p>I design and develop things for
      humans. Sometimes cats, too. But
      not really.</p>
    </header>
    <main class=site-main role=main>
      {{template "soundcloud" .}}
      {{template "github" .}}
    </main>
    <footer class=site-footer role=contentinfo>
      <p>You can also get hold of me
      via <a href=mailto:hi@daryl.im>Email</a>
      or <a href=//twitter.com/darylginn>Twitter</a>.
      <p class=copy>&copy; {{year}} Daryl Ginn</p>
    </footer>
  </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-34939977-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
