<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name=viewport content="initial-scale=1" />
  <meta name=description content="Product Designer & Software Developer" />
  <title>Daryl Ginn</title>
  <link href=/dist/bundle.css rel=stylesheet />
  <script src="//use.typekit.net/bit2lhx.js"></script>
  <script src=/dist/bundle.js></script>
</head>
<body>
  <div class=wrap>
    <main>
      <p>I make stuff. <a href=mailto:hi@daryl.im>Let's make stuff</a>.</p>
    </main>
    <footer>
      <p>
        <a href=//qstn.co>Qstn</a> /
        <a href=//github.com/daryl>Github</a> /
        <a href=//twitter.com/darylginn>Twitter</a>
      </p>
    </footer>
  </div>
</body>
</html>
